//Fonts

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
$font: 'Spartan', sans-serif;

// ## Colors

// ### Primary

$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);

// ### Neutral

$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayisMagenta: hsl(300, 24%, 96%);
$White:hsl(0, 0%, 100%);