@media screen and (max-width:768px){


    body{
    
        background-image: url(../images/bg-pattern-top-mobile.svg),
        url(../images/bg-pattern-bottom-mobile.svg);
        background-position: left top, bottom;
    }

    .sectionTop{
        width: 100%;
    
        .container{
            padding-top: 80px;
            flex-direction: column;
            
    
            .text{
                width: 100%;
                max-width:350px;
                text-align: center;
                margin: auto;
                h1{
                   
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }
                p{
                   
                    font-size: 14px;
                
                }
            }
    
            .reviewsBox{
              
                max-width: 100%;
                margin-top: 40px; 
                .top{
                    align-self:normal;
                }
                .center{
                    align-self: normal;
                }
                .bottom{
                   align-self: normal;
                }
                
                .review{
             
                    max-width: 350px;
                    margin: auto;
                    margin-bottom: 1.5rem;
                    
                    flex-direction: column;
                    text-align: center;
                    height: 100px;
                    justify-content: space-around;

                    .stars{
                        i{
                           
                            font-size: 13px;
                        }
                        margin-right: 0px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .sectionBottom{
        width: 100%;
    
        .container{
            margin-top: 30px;
            height: 800px;
            padding-bottom: 2rem;
           
            flex-direction: column;
     
        
            .top{
                align-self: normal;
            }
            .center{
                align-self: normal;
            }
            .bottom{
               align-self: normal;
            }
            .testimonial{
             
                margin: auto;
                font-size: 14px;
           
            }
        }
    }
}