.sectionTop{
    width: 100%;

    .container{
        padding-top: 125px;
        display: flex;
        justify-content: space-between;

        .text{
            width: 100%;
            max-width: 430px;

            h1{
                color: $VeryDarkMagenta;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 0.80rem;
            }
            p{
                font-weight: 500;
                font-size: 0.9375rem;
                color: $DarkGrayishMagenta;
            }
        }

        .reviewsBox{
            width: 100%;
            max-width: 550px;
            display: flex;
            flex-direction: column;

            .top{
                align-self: flex-start;
            }
            .center{
                align-self: center;
            }
            .bottom{
               align-self: flex-end;
            }
            
            .review{
                width: 100%;
                max-width: 442px;
                // height: 50px;
                background-color: $LightGrayisMagenta;
                margin-bottom: 1rem;
                border-radius: 0.50rem;
                display: flex;
                align-items: center;
                padding:1rem 2rem;
                
                .stars{
                    i{
                        color: #F19748;
                        margin: 0;
                        font-size: 0.9375rem;
                    }
                    margin-right: 1.5rem;
                }
                p{
                    color: $VeryDarkMagenta;
                    font-weight: 700;
                    font-size: 0.9375rem;
                }
            }
        }
    }
}